
.card {
    width: 20%;
    padding: 40px 20px;
    transition: all 0.5s;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 3px #0000001e;
    backdrop-filter: blur(15%);
}

.card:hover {
    box-shadow: 0px 5px 31px -5px rgba(0,0,0,0.57);
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}


.porag{
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 14px;
}
.anchor{
    color: #155fff;
    text-decoration: none;
}
.anchor:hover{
    text-decoration: dashed;

}
.btn {
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 20px;
    font-weight: 500;
    border: none;
    font-size: 17px;
    color: white;
    background: rgb(0, 149, 246);
    cursor: pointer;
    transition: all 0.4s ease;
}

.btn:hover {
    background: rgb(0, 149, 246);
    opacity: .7;
}

.svg {
    display: flex;
    justify-content: center;

}

.svg img {
    width: 30%;
}

.social {
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.github {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    transition: all 0.5s ease;
    padding: 6px 20px;
    background-color: #eeeeee;
}

.google img {
    width: 15%;
}

.google {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    padding: 10px 20px;
    transition: all 0.5s ease;
    background-color: #eeeeee;
}

.google:hover {
    border: 1px solid #4480FF;
    background-color: #f3f3f3;
}

.github:hover {
    border: 1px solid #4480FF;
    background-color: #f3f3f3;

}
.flex-row {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    justify-content: space-between;
  }
  .span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
  }
.github img {
    width: 20%;
}