/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* Body */
  body {
    font-family: sans-serif;
    background: linear-gradient(196deg,rgba(44, 33, 255, 1) 0%, rgba(0, 212, 255, 1) 90%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
  }

  /* Container */
  .container {
    background-color: #fff;
    max-width: 400px;
    width: 100%;
    padding: 32px;
    border-radius: 16px;
    transition: all 0.3s ease-in;
    backdrop-filter:blur(10%,);

  }
  .container:hover{
    box-shadow: 1px 13px 28px -3px rgba(0,0,0,0.49);
  }

  /* Logo */
  .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }

  .logo img {
    width: 35%;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  /* Form */
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  /* Input Group */
  .input-group {
    position: relative;
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #9ca3af;
  }

  .key-icon {
    width: 20px;
    height: 20px;
    stroke: #9ca3af;
  }

  /* Inputs */
  .input {
    width: 100%;
    padding: 10px 12px 10px 40px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: 0.2s;
  }

  .input:focus {
    border-color: #60a5fa;
    box-shadow: 0 0 0 2px rgba(96, 165, 250, 0.4);
  }

  /* Options */
  .options {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #4b5563;
  }

  .options a {
    color: #3b82f6;
    text-decoration: none;
  }

  .options a:hover {
    text-decoration: underline;
  }

  /* Button */
  .btn {
    background-color: #3b82f6;
    color: white;
    padding: 10px ;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
  }

  .btn:hover {
    background-color: #2563eb;
  }
  /* Error massage  */
  p{
    color: red;
    font-size: 15px;
    text-align: center;
    display: none;
  }

  /* Sign up */
  .signup {
    text-align: center;
    font-size: 14px;
    color: #4b5563;
    margin-top: 10px;
  }

  .signup a {
    color: #3b82f6;
    text-decoration: none;
  }

  .signup a:hover {
    text-decoration: underline;
  }

  /* Social buttons */
  .socials {
    display: flex;
    gap: 16px;
    margin-top: 24px;
    flex-wrap: wrap;
  }

  .social-btn {
    flex: 1;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    transition: 0.3s;
  }

  .social-btn:hover {
    border-color: #3b82f6;
    background-color: #e5e7eb;
  }

  .social-btn img {
    width: 24px;
  }


  /* Responsive tweaks */
  @media (max-width: 480px) {
    .container {
      padding: 24px 16px;
    }

    .socials {
      flex-direction: column;
    }

    .social-btn {
      width: 100%;
    }
  }
